.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login img {
  width: 20%;
  object-fit: contain;
}

.login button {
  padding: 15px;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: rgb(72, 72, 255);
}

.login button:hover {
  cursor: pointer;
  background-color: rgb(100, 100, 255);
}
