.story {
  border-radius: 5px;
  height: 150px;
  width: 110px;
  object-fit: contain;
  background-size: cover;
  color: white;
  position: relative;
  margin: 10px;
}

.story .story__profilepic {
  height: 20px;
  border-radius: 50px;
  border: 2px solid blue;
}

.story__displayName {
  position: absolute;
  bottom: 0px;
  padding: 10px;
  box-sizing: border-box;
  object-fit: contain;
}
